*{
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 100;
}

.contact-form{
    font-size: 25px;
}

.contact-form__h2{
    font-size: 2em;
    color:red;
    background-color: lightgray;
    display: inline-block;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

.flex-container{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
    justify-content: space-evenly;
    height: 100vh;
    /* align-content: flex-start; */
}

.flex-container__item{
    background-color: greenyellow;
    color: black;
    padding: 20px;
    margin: 10px;
    height: 90px;
    min-width: 120px;
    flex-grow: 1;

}

.cred{
    background-color: red;
}

.final{
    background-color: blue;
    /* align-self: flex-end; */
}